/* syllobus section */
.syllobus-main-container {
  width: 35%;
  height: 100vh;
  /* overflow-x: hidden; */

}
.syllobus-main {
  display: grid;
  width: 95%;
  height: 5rem;
  align-items: center;
  margin-bottom: 0.8rem;
  margin-top: 0.9rem;
  /* overflow-x: hidden; */
  
}

.syllobus-sub {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.syllobus-count {
  font-weight: 500;
}

.syllobus-title {
  font-weight: bold;
  font-style: oblique;
  text-overflow: ellipsis;
}
.syllobus-drop-btn button {
  outline: none;
  border: none;
  background-color: transparent;
  font-weight: bold;

}

.syllobus-lesson-count {
  font-style: italic;
  text-align: center;
  margin-bottom: 0.8rem;
}
.syllobus-lesson-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 0.1rem solid;
 padding-top: 0.8rem;
 flex-grow: 1;
 
transform: scale(1);
transition:0.5s ease-in-out;


 
}
.syllobus-lesson-container{
    /* display: none; */
}
@media (max-width:650px) {
  .syllobus-lesson-main{
    background-color: rgb(89, 115, 145);
margin-left: 1.8rem;
color: white;
  }
}